@font-face {
    font-family: 'arca_majora_3heavy';
    src: url('arcamajora3-heavy-webfont.woff2') format('woff2'),
         url('arcamajora3-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'arca_majora_3bold';
    src: url('arcamajora3-bold-webfont.woff2') format('woff2'),
         url('arcamajora3-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
	font-family: 'arca_majora_3heavy' , 'Prompt', sans-serif;
}
.dropdown-toggle::after {
    display:none;
}
.form-group {
	margin:10px;
}

#headca{
	font-size: 100px;
	color: white;
	line-height: 1.5;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}
.topleft {
  position: absolute;
  top: 10%;
  left: 20px;
  font-size: 150px;
}
.bottomleft{
  position: absolute;
  top: 40%;
  left: 20px;
  font-size: 60px;
}
.htop{
	position: relative;
}
#log{
	border-style: none;
	background-color: white;
	color: black;
	border-radius: 4px;
}
#fake{
	font-size: 40px;
	color: purple;
	line-height: 2;
}
#hoax{
	font-size: 40px;
	color: yellow;
	line-height: 2;
}
#phising{
	font-size: 40px;
	color: pink;
	line-height: 2;
}
#headsign{
	font-size: 50px;
}
.cardbox{
	border-style: none;
	font-size: 40px;
	width: 100%;
	float: left;
}
.w{
	color:white;
}
.black{
	color: black;
}
.p{
	color: purple;
}
ul.navbar-nav li a.nav-link{
	transform: scale(1);
	transition: 0.5s;
	display: block;
}
ul.navbar-nav li a.nav-link.hide-item{
	transform: scale(0);
}
.search-form{
	position: absolute;
	top: 20%;
	left: 50%;
	width: 600px;
	height: 44px;
	transform: translateX(-50%);
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
}
.search-form input{
	width: 100%;
	height: 44px;
	background-color: white;
	color: black;
	border: none;
	border-radius: 5px;
}
.search-form.active{
	opacity: 1;
	visibility: visible;
}
.search-topic{
	position: absolute;
	top: 33%;
	left: 50%;
	width: 600px;
	height: 44px;
	transform: translateX(-50%);
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
}
.search-topic input{
	width: 100%;
	height: 44px;
	background-color: white;
	color: black;
	border: none;
	border-radius: 5px;
}
.search-topic.active{
	opacity: 1;
	visibility: visible;
}
.topic.hide-item{
	transform: scale(0);
}
input[name=user]{
	display: inline-block;
	border: none;
	width: 100%;
}
.user{
	background-color: gray;
	color: white;
	padding-bottom: 10px;
}
.bio{
	background-color: black;
	color: white;
	padding-bottom: 5px;
}
button[name='signbtn'] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  justify-content: center;
  margin-left: 50%;
}
.bb{
	background-color: black;
}
input[name='vote'] {
	border: none;
	background: none;
}
input[value=YES]{
	color: green;
}
input[value=NO]{
	color: red;
}
.backp{
	background-color: purple;
}
.gray{
	color: gray;
}
.pl25{
	padding-left: 25%;
}
article { 
  display: block;
  width: 75%;
  word-wrap: break-word;
  word-break: break-all;
  line-height: 2;
}
.box{
	border-style: none;
	background-color: gray;
	height: 550px;
}
r 	{
	font-size: 100px;
	padding-left: 20px;
	}
n 	{
	font-size: 40px;
	padding-left: 20px;
	}
m 	{padding-left: 20px;
line-height: 5;}
input[name='edit']{
	font-size: 10px;
	width: 50%;
	border-radius: 5px;
	background-color: gray;
	border-style: none;
}
.tab {
  overflow: hidden;
  border: none;
}

.tab button {
  background-color:inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: white;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: white;
  padding-bottom: 80px;
}
.status:hover{
	cursor: pointer;
}
.column{
	margin-left: 25px;
	margin-right: 25px;
}






